@charset "utf-8";

/*
nesta parte temos o reset de página  (comentários para css)
*/

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #fc4b2a;
    margin: 0%;
    padding: 0%;
    border: 0%;
    background-image: linear-gradient(red,white);
}

header {
    background-color: #280904;
    height: 150px;
}

h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}


nav {
    background-color: #9a151a;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 30px;
}

main {
    background-color: #c21b12;
    height: auto;
    
}

p {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

footer {
    background-color: #fc4b2a;
    height: 175px;
}

footer {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
#imgmain